//$icon-font-path: "/bower_components/bootstrap-sass/vendor/assets/fonts/bootstrap/";
$fa-font-path: "fonts";
@import "fontawesome/scss/font-awesome";

// bower:scss
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss';
// endbower

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}
